:root {
    --black: #011212;
    --orange: #ff8800;
    --avg: 100px;
    --half: 50px;
}

body { 
    background-color: var(--black);
}

.ball {
    width: var(--avg);
    height: var(--avg);
    background-color: var(--orange);
    border-radius: var(--half)
}
